body,html{
    background-color: bisque
}
p {
    color: black
}
.brown-copy{
    color: brown
}
#content-wrapper{
    width: 500px
}
h1{
    color: blue
}
.center{
    text-align: center
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Courier New', Courier, monospace
}
i{
    font-size: 20px;
    color: brown
}

#content-wrapper{
    width: 960px;
    margin: 0 auto
}



img{
    display: block;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 300px;
}

ul {
    display: block;
    margin:0 auto;
    width: 300px;
}

ul > li {
    display: inline;
    margin: 0 5px 0 5px;
    width: 300px;
    margin: 0 auto;
}